<html>
<head>
<title>Bhavyah Ramesh</title>
 <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/portfolio.css') }}">
 <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"-->
</head>
<body>
   <div class="container">
     <div class="menu">
	    <ul>
		   <li class="active"><a href="/portfolio">Home</a></li>
		   <li><a href="/resume">Resume</a></li>
		   <li>Project</li>
		   <li><a href="/contact">Contact</a></li>
		</ul>
	</div>
</div>	
<div class="details">
     <div class="app-text">
	     <h1 align="center">My Portfolio</h1><br/>
		  <p>I am Bhavyah R and I am currently pursuing my Msc-IT(3<sup>rd</sup> year) in CEG,Anna University.I love learning new things from others.Now only I am in learning phase(HTML,CSS,Python) and I am interested in Web Framework.Just Now,I have started doing my Projects using Python Flask.</p>
		 </div>
		 <div class="my-picture">
		 <img src="/static/images/pic.png" alt="my picture">
 </div>
		 <!--div class="media">
		 <ul>
		 <li><i class="fab fa-github"></i></li>
		 <li><i class="fab fa-facebook"></i></li>
		 <li></li>
		 <li></li>
		 </ul>
		 </div-->
</body>
</html>